body{
  font-family: 'Inter';
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
  transition: 0.5s all ease-in-out;
  
  .header,
  .header1,
  main,
  .footer{
    width: 80%;
    transition: 0.5s all ease-in-out;
  }
  
  main,
  .footer{
    margin-left: 10%;
  }

  .header,
  .header1{
    padding: 20px 10%;
  }

  .theme-toggle__left,
  .theme-toggle__right{
    cursor: pointer;
  }

  a{
    text-decoration: none;
  }

  a:hover{
    text-decoration: underline;
  }

  ul{
    list-style: none;
  }
}

body.dark{
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);

  li.border.left{
    border-left: 1px solid var(--dark-text-color);
  }
  li.border.right.left{
    border-left: 1px solid var(--dark-text-color);
    border-right: 1px solid var(--dark-text-color);
  }
  li.border.right{
    border-right: 1px solid var(--dark-text-color);
  }

  .arrow-right, .arrow-left{   
    border-top: 2px solid var(--dark-text-color);
    border-left: 2px solid var(--dark-text-color);
  }

  .arrow-right::after, .arrow-left::after{   
    background-color: var(--dark-text-color);
  }

  .toggle-top,
  .toggle-center,
  .toggle-bottom{
    background-color: var(--dark-text-color);
  }

  .about{
    background-color: var(--dark-bg-color);
  }

  
  a, h1, h2, h3, h4, h5, span.name, div{
    color: var(--dark-text-color);
  }
  
  .theme-toggle__left,
  .theme-toggle__right{
    border: 1px solid var(--dark-text-color);
  }
  
  .arrow-up-border{
    border: 1px solid var(--dark-text-color);
  }
  
  a{
    color: var(--dark-text-color);
  }
  
  span.name{
    color: var(--dark-text-color);
  }
  
  li{
    color: var(--dark-text-color);
  }
  
  
  .header,
  .header1,
  main,
  footer{
    background: var(--dark-bg-color);
    color: var(--dark-text-color);
  }
  
  // 1st painting style
  span.long-arrow-left{
    border-top: 2px solid var(--dark-text-color);
    border-left: 2px solid var(--dark-text-color);
  }

  span.long-arrow-left::after{   
    background-color: var(--dark-text-color);
  }

  .view__p{
    color: var(--dark-bg-color);
  }

  .change-page1__right,
  .change-page1__left{
    background-color: var(--dark-text-color);
    span.arrow{
      border-top: 2px solid var(--dark-bg-color);
      border-left: 2px solid var(--dark-bg-color);
    }
    span.arrow::after{
      background-color: var(--dark-bg-color);
    }
    .text{
      color: var(--dark-bg-color);
    }
  }

  #about1st{
    background-color: var(--dark-bg-color);
  }
}


body.light{
  background-color: var(--light-bg-color);
  color: var(--light-text-color);

  li.border.left{
    border-left: 1px solid var(--light-text-color);
  }
  li.border.right.left{
    border-left: 1px solid var(--light-text-color);
    border-right: 1px solid var(--light-text-color);
  }
  li.border.right{
    border-right: 1px solid var(--light-text-color);
  }
  
  .arrow-right, .arrow-left{   
    border-top: 2px solid var(--light-text-color);
    border-left: 2px solid var(--light-text-color);
  }

  .arrow-right::after, .arrow-left::after{   
    background-color: var(--light-text-color);
  }

  .toggle-top,
  .toggle-center,
  .toggle-bottom{
    background-color: var(--light-text-color);
  }
  
  .about{
    background-color: var(--light-bg-color);
  }

  a, h1, h2, h3, h4, h5, span.name, div{
    color: var(--light-text-color);
  }

  .theme-toggle__left,
  .theme-toggle__right{
    border: 1px solid var(--light-text-color);
  }

  .theme-toggle__left{
    width: 8px;
    padding-right: 2px; 
    // I added padding here 'cause it can fix one bug,
    // related to toggle
    height: 18px;
  }

  .arrow-up-border{
    border: 1px solid var(--light-text-color);
  }
  
  a{
    color: var(--light-text-color);
  }
  
  .header,
  .header1,
  main,
  footer{
    background: var(--light-bg-color);
    color: var(--light-text-color);
  }

  // 1st painting style
  span.long-arrow-left{
    border-top: 2px solid var(--light-text-color);
    border-left: 2px solid var(--light-text-color);
  }

  span.long-arrow-left::after{   
    background-color: var(--light-text-color);
  }
  

  #about1st{
    background-color: var(--light-bg-color);
  }
  
  .view__p{
    color: var(--light-bg-color);
  }

  .change-page1__right,
  .change-page1__left{
    background-color: var(--light-text-color);
    span.arrow{
      border-top: 2px solid var(--light-bg-color);
      border-left: 2px solid var(--light-bg-color);
    }
    span.arrow::after{
      background-color: var(--light-bg-color);
    }
    .text{
      color: var(--light-bg-color);
    }
  }
}