div.theme-toggle{
  width: 20px;
  height: 20px;
  display: inline-flex;
  &__left{
    width: 8px;
    height: 18px;
    border-radius: 12px 0 0 12px;
    background-color: #fff; // Don't change bg color,
                              // there's no reason to do it now
  }
  &__right{
    width: 8px;
    height: 18px;
    border-radius: 0 12px 12px 0;
    background-color: #000; // Don't change bg color,
                               // there's no reason to do it now
  }
}