// 1200px, 1150px
@media (max-width: 1200px) {
  #about2nd.active{
    padding: 0;
    img{
      width: 20rem;
    }
  }

  .painting__content__gallery{
    .gallery__left{
      p{
        font-size: 22px;
        line-height: 26px;
      }
    }
  }

  .painting__content__p{
    p{
      margin: 0;
      font-size: 22px;
      line-height: 26px;
    }
  }
  
  .change-page2{
    width: 40rem;
  }
}

@media (max-width: 1150px) {
  .change-page2{
    width: 38rem;
  }
}

@media (max-width: 1100px) {
  .header__bg2{
    height: 700px;
    &__left,
    &__right{
      height: 700px;
    }
  }

  #about2nd{
    height: 125vh;
  }
  
  .painting__content__gallery{
    height: 630px;
    .gallery__left{
      img{
        width: 100%;
      }
      p{
        font-size: 21px;
        line-height: 25px;
      }
    }
  }

  .change-page2{
    margin-left: 18%;
  }
}