// 1760px, 1700px, 1650px, 1600px, 1550px, 1500px, 1450px
@media (max-width: 1760px) {
  .change-page2{
    margin-left: 24.5%;
  }
}

@media (max-width: 1700px) {
  .change-page2{
    margin-left: 23.25%;
  }
}

@media (max-width: 1650px) {
  .change-page2{
    margin-left: 22%;
  }
}

@media (max-width: 1600px) {
  .change-page2{
    margin-left: 21.5%;
  }
}

@media (max-width: 1550px) {
  .change-page2{
    margin-left: 21%;
  }
}

@media (max-width: 1500px) {
  .change-page2{
    margin-left: 19.5%;
  }
}

@media (max-width: 1450px) {
  .change-page2{
    margin-left: 18.5%;
  }
}