.header__bg2{
  width: calc(100% + 16px);
  height: 800px;
  margin-left: -8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -578px;
  &__left{
    width: 50%;
    height: 800px;
  }
  &__right{
    width: 50%;
    height: 800px;
  }
}

#painting__info2{
  margin-left: -3%;
}

.painting__content{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__img1{
    width: 65%;
    height: 600px;
  }

  &__gallery{
    width: 65%;
    height: 750px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 80px 0;
    .gallery__left{
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      img{
        width: 326px;
        height: auto;
      }
      p{
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        margin-left: -20%;
      }
    }.gallery__right{
      width: 45%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      img{
        width: 100%;
      }
    }
  }

  &__img3{
    width: 60%;
    margin-bottom: 70px;
  }

  &__p{
    width: 44%;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-left: 30%;
    margin-bottom: 70px;
  }

  &__img4{
    width: 60%;
    margin-bottom: 70px;
  }

  section.change-page2{
    width: 50%;
  }

}

.change-page2{
  width: 46rem;
  height: 16rem;
  display: flex;
  justify-content: space-between;
  a{
    text-decoration: none;
  }
  &__left,
  &__right{
    width: 16rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--light-text-color);
    border-radius: 50%;
    .arrow-left-wrapper, 
    .arrow-right-wrapper{
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-right: 5px;
      span.arrow{
        display: block;
        margin: 20px auto;
        width: 10px;
        height: 10px;
      }
      span.arrow::after{
        content: "";
        display: block;
        position: relative;
        width: 2px;
        height: 25px;
        transform: rotate(-45deg) translate(15px, 4px);
        left: -5px;
        top: 5px;
      }
    }
    .arrow-left-wrapper{
      transform: rotate(-45deg);
      margin-left: -15px;
    }
    .arrow-right-wrapper{
      transform: rotate(135deg);
      margin-left: 10px;
    }
    span{
      width: 12.5rem;
      color: var(--light-bg-color);
      text-align: center;
      margin-bottom: 20px;
    }
  }
  &__left{
    .surface{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .behind{
      width: inherit;
      height: inherit;
      margin-top: 0px;
      margin-left: -10000px;
    }
  }
  &__left:hover{
    .behind{
      margin-left: 0px;
    }
  }
}