// 1147px, 1100px, 1050px, 1007px

@media (max-width: 1147px) {
  .header__bg{
    width: 101.4%;
  }

  section.change-page1{
    padding: 0 10%;
    margin-left: 5%;
  }
}

@media (max-width: 1100px) {
  .header__bg{
    width: 101.45%;
  }

  section.change-page1{
    margin-left: 4%;
  }
}

@media (max-width: 1050px) {
  .header__bg{
    width: 101.5%;
  }
}

@media (max-width: 1007px) {
  .header__bg{
    width: 101.6%;
  }

  section.change-page1{
    margin-left: 0%;
  }
}