// 1147px, 1100px, 1050px, 1007px

@media (max-width: 1147px) {
  .header__bg{
    width: 101.4%;
  }

  section.change-page1{
    padding: 0 10%;
    margin-left: 5%;
  }
}

@media (max-width: 1100px) {
  .header__bg{
    width: 101.45%;
  }

  section.change-page1{
    margin-left: 4%;
  }
}

@media (max-width: 1050px) {
  .header__bg{
    width: 101.5%;
  }
}

@media (max-width: 1007px) {
  #header1{
    .header__content{
      h1{
        width: 86%;
        font-size: 55px;
      }
    }
  }

  .header__bg{
    width: 101.6%;
  }

  article.info{
    width: 87%;
  }

  section.change-page1{
    margin-left: 10%;
    padding: 0;
  }

  article.painting__conclusion{
    h3{
      font-size: 55px;
      line-height: 62px;
    }
  }
}