// 1300px, 
@media (max-width: 1300px) {
  .header__bg{
    width: 101.25%;
  }

  article.painting__conclusion{
    width: 100%;
    h3, p{
      width: 90%;
    }
    h3{
      font-size: 65px
    }
    p{
      font-size: 27px;
      margin-top: 15px;
    }
  }

  section.change-page1{
    padding: 0 10%;
    margin-left: 12%;
  }
}

@media (max-width: 1250px) {
  .header__bg{
    width: 101.3%;
  }

  article.painting__view{
    img.view__img{
      height: 600px;
    }
    div.view__p{
      height: 600px;
    }
  }

  section.change-page1{
    padding: 0 17%;
    margin: 30px 3% 30px 0;
  }
}

@media (max-width: 1200px) {
  .header__bg{
    width: 101.35%;
  }
}