@media (max-width: 450px) {
  #header1{
    .header__content{
      height: 450px;
      h1{
        font-size: 35px;
      }
    }
  }
  
  #header__bg{
    position: absolute;
    width: 101.8%;
    height: 570px;
    top: 580px;
    left: 0;
  }

  section.change-page1{
    width: 85%;
    margin-left: 10%;
  }
}

@media (max-width: 425px) {
  article.painting__info{
    .info__ul{
      ul{
        li{
          font-size: 9px;
        }
      }
      ul.key{
        width: 48px;
      }
      ul.value{
        width: 125px;
      }
    }
    p{
      width: 65%;
      line-height: 14px;
      font-size: 10px;
      margin-top: -10px;
    }
  }

  section.change-page1{
    width: 100%;
    margin-left: 1%;
  }
}

@media (max-width: 400px) {
  #header__bg{
    width: 102%;
  }

  article.painting__info{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    .info__ul{
      height: 80px;
      margin-bottom: 30px;
      ul{
        height: inherit;
        li{
          font-size: 13px;
        }
      }
      ul.key{
        width: 80px;
      }
      ul.value{
        width: 175px;
      }
    }
    p{
      width: 100%;
      line-height: 18px;
      font-size: 14px;
      margin-top: 0px;
    }
  }

  article.painting__conclusion{
    h3{
      font-size: 28px;
      line-height: 30px;
    }
    p{
      font-size: 14px;
      line-height: 16px;
    }
  }
}