@media (max-width: 580px) {
  #header1{
    .header__content{
      margin-top: 0px;
      h1{
        font-size: 41px;
        margin-top: 0;
      }
    }
  }

  #header__bg{
    width: 102.8%;
    height: 40rem;
  }

  article.painting__info{
    height: 80px;
    margin: 50px 0;
    .info__ul{
      height: inherit;
      ul{
        height: inherit;
        li{
          font-weight: 400;
          font-size: 10px;
        }
      }
      ul.key{
        width: 60px;
        li{
          width: auto;
          .key{
            width: auto;
          }
        }
      }
      ul.value{
        width: 140px;
        li{
          width: auto;
          span.value{
            width: auto;
          }
        }
      }
    }
    p{
      width: 60%;
      line-height: 14px;
      font-size: 10px;
    }
  }

  section.change-page1{
    width: 80%;
    margin-left: 12.5%;
  }

  article.painting__view{
    width: 120.25%;
    img.view__img{
      display: none;
    }
    div.view__p{
      width: 100%;
      p{
        font-size: 21px;
      }
    }
  }
}

@media (max-width: 550px) {
  #header__bg{
    width: 103%;
  }
}

@media (max-width: 500px) {
  #header__bg{
    width: 103.3%;
  }

  article.painting__view{
    margin-top: 50px;
  }

  article.painting__conclusion{
    h3{
      font-size: 35px;
      line-height: 35px;
    }
    p{
      font-size: 16px;
      line-height: 20px;
    }
  }
}