// 768px, 730px, 700px, 650px, 600px
@media (max-width: 768px) {
  #header__bg{
    width: 102.1%;
  }

  #about1st{
    width: 100%;
    h2{
      width: 45%;
    }
    img{
      width: 35%;
    }
  }

  article.painting__conclusion{
    width: 100%;
    h3, p{
      width: 100%;
    }
    h3{
      font-size: 44px;
      line-height: 46px;
    }
    p{
      font-size: 18px;
      line-height: 26px;
      margin-top: 6px;
    }
  }

  section.change-page1{
    width: 40rem;
    margin-left: 2rem;
  }

  .arrow-up-border{
    margin-left: 20px;
  }
}

@media (max-width: 730px) {
  article.painting__view{
    img.view__img,
    div.view__p{
      height: 470px;
    }
  }
  
  article.painting__conclusion{
    h3{
      font-size: 40px;
      line-height: 40px;
    }
  }

  section.change-page1{
    width: 65%;
    height: 10rem;
    margin-left: 20%;
    a.change-page1__left,
    a.change-page1__right{
      width: 10rem;
      height: 10rem;
    }
  }
}

@media (max-width: 700px) {
  #header__bg{
    width: 102.3%;
  }
}

@media (max-width: 650px) {
  #header1{
    .header__content{
      margin-top: 20px;
      h1{
        font-size: 50px;
      }
    }
  }

  article.painting__info{
    height: 100px;
    margin: 60px 0;
    .info__ul{
      ul{

        li{
          font-weight: 400;
          font-size: 12px;
        }
      }
      ul.key{
        width: 80px;
        li{
          width: auto;
          .key{
            width: auto;
          }
        }
      }
      ul.value{
        width: 165px;
        li{
          width: auto;
          span.value{
            width: auto;
          }
        }
      }
    }
    p{
      width: 53%;
      line-height: 17px;
      font-size: 12px;
    }
  }

  article.painting__view{
    width: 120%;
    div.view__p{
      p{
        width: 75%;
        font-size: 19px;
        line-height: 25px;
      }
    }
  }
}

@media (max-width: 600px) {
  #header__bg{
    width: 102.82%;
  }
}