// 950px, 917px, 900px, 890px, 825px
@media (max-width: 950px) {
  .header__bg{
    width: 101.7%;
  }

  article.painting__view{
    img.view__img{
      height: 550px;
    }
    div.view__p{
      height: 550px;
      p{
        font-size: 21px;
        line-height: 28px;
      }
    }
  }
}

@media (max-width: 917px) {
  section.change-page1{
    margin-left: 8%;
    margin-right: 0;
  }
}

@media (max-width: 900px) {
  .header__bg{
    width: 101.8%;
  }

  article.info{
    width: 95%;
  }
}

@media (max-width: 890px) {
  img.painting__gallery{
    margin-left: 10%;
  }

  section.change-page1{
    margin-left: 3%;
  }
}

@media (max-width: 825px) {
  #header__bg{
    width: 102%;
  }

  article.info{
    width: 100%;
    p{
      width: 50%;
      font-size: 12px;
    }
  }

  article.painting__view{
    width: 119.6%;
    div.view__p{
      p{
        width: 85%;
      }
    }
  }

  article.painting__conclusion{
    h3{
      font-size: 50px;
      line-height: 57px;
    }
    p{
      font-size: 24px;
      line-height: 33px;
    }
  }

  section.change-page1{
    margin-left: -2%;
  }
}