// 768px, 720px, 700px, 692px, 670px, 650px, 630px, 617px, 600px
@media (max-width: 768px) {
  #footer{
    .footer__left{
      font-size: 11px;
    }
    .footer__right{
      width: 70%;
      ul{
        width: auto;
        display: flex;
        justify-content: space-between;
        li{
          width: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 10px;
          a{
            width: auto;
            .footer-arrow{
              display: none;
            }
          }
        }
      }.arrow-link{
        margin-left: 0;
        .arrow-up-border{
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: 720px) {
  #row2{
    width: 585px;
  }
}

@media (max-width: 700px) {
  #footer{
    .footer__right{
      width: 77%;
    }
  }
}

@media (max-width: 692px) {
  #main{
    h1{
      width: 100%;
      font-size: 57px;
    }

    #row2{
      margin-left: 20px;
    }
  
    #row3{
      width: 620px;
      margin-left: 0px;
    }
  
    #bio{
      p{
        width: 90%;
      }
      img{
        width: 240px;
        height: auto;
      }
    }
  }


  #footer{
    .footer__right{
      width: 70%;
      span{
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 670px) {
  #main{
    h1{
      font-size: 55px;
    }

    #row1{
      width: 580px;
      margin-left: 0px;
    }
  
    #row3{
      height: auto;
      margin-left: 0px;
      .row3__left{
        width: 250px;
        img{
          width: 250px;
        }
        h2{
          span.name{
            width: 150px;
            font-size: 9.3px;
          }
        }
      }
      .row3__right{
        h2{
          span.name{
            font-size: 11.3px;
          }
          .arrow-right{
            margin-left: 69%;
          }
        }
      }
    }
  }

  #footer{
    // width: 540px;
    .footer__right{
      width: 84%;
      ul{
        width: 500px;
        a,li{
          width: 100px;
        }
      }
      .arrow-link{
        width: auto;
      }
    }
  }
}

@media (max-width: 650px) {
  #main{
    #row2{
      width: 550px;
      .row2__left{
        width: 250px;
      }
      .row2__right{
        width: 270px;
        h2{
          .name{
            font-size: 12.5px;
          }
        }
      }
    }

    #row3{
      width: 580px;
    }
  }

  #footer{
    .footer__right{
      width: 72%;
      ul{
        width: auto;
        li{
          width: auto;
        }
      }
    }
  }
}

@media (max-width: 630px) {
  #main{
    h1{
      font-size: 51px;
    }

    #bio{
      .bio__dates{
        width: 100%;
        justify-content: space-between;
        ul{
          width: 280px;
          padding: 0px;
          li{
            width: 100%;
            h4,span{
              font-size: 19px;
            }
            h5{
              font-size: 12px;
            }
          }
        }
      }
    }
  }

}

@media (max-width: 617px) {
  #main{
    #row1{
      width: 530px;
      height: auto;
      .row1__left{
        width: 250px;
      }
      .row1__right{
        width: 250px;
        img{
          height: 190px;
        }
      }
    }

    #row2{
      width: 520px;
      height: auto;
      margin-bottom: 30px;
      .row2__left{
        width: 230px;
      }
      .row2__right{
        width: 250px;
        h2{
          .name{
            font-size: 11.5px;
          }
        }
      }
    }

    #row3{
      width: 560px;
      .row3__left{
        width: 45%;
      }
      .row3__right{
        width: 50%;
        h2{
          .name{
            font-size: 11.5px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .about{
    h2{
      width: 45%;
      font-size: 22px;
    }
    img{
      width: 45%;
    }
  }

  #main{
    h1{
      font-size: 48px;
    }

    
    #row3{
      width: 530px;
      .row3__left{
        width: 45%;
        .number{
          font-size: 12px;
        }.arrow-right{
          margin-left: 97%;
        }
      }
      .row3__right{
        width: 50%;
        h2{
          .number{
            font-size: 13px;
          }.arrow-right{
            margin-left: 76%;
          }
        }
      }
    }
  }

  #footer{
    width: 100%;
    margin-left: 0;
    .footer__right{
      width: 75;
      ul{
        width: auto;
        li{
          width: auto;
          a{
            width: auto;
          }
        }
      }
    }
  }
}