@media (max-width: 375px) {
  #main{
    h1{
      font-size: 30px;
    }

    #row1,
    #row2,
    #row3{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .row__left,
      .row__right{
        width: 100%;
        margin-top: 0px;
        a{
          width: auto;
          justify-content: flex-start;
          margin-bottom: 0px;
          img{
            width: 100%;
          }
        }
        h2{
          margin-bottom: 0px;
        }
      }
    }
  }

  #footer{
    .arrow-up-border{
      display: none;
    }
  }
}

@media (max-width: 329px) {
  #footer{
    #footer__right{
      a, li{
        width: auto;
      }
    }
  }
}

@media (max-width: 300px) {  
  #header{
    width: 90%;
    padding: 20px 5%;
  }
  
  #main{
    h2{
      width: auto;
    }
  }

  #footer{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 90px;
    #footer__right{
      width: 10%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      ul{
        width: 10%;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        gap: 7px;
        a, li{
          width: 10%;
        }
      }
    }
  }  
}