// 578px, 560px, 543px, 513, 483px, 460px, 425px
@media (max-width: 578px) {
  #main{
    #row1{
      width: 101%;
      .row1__left{
        h2{
          .arrow-right{
            margin-left: 83%;
          }
        }
      }
      .row1__right{
        h2{
          .arrow-right{
            margin-left: 80.3%;
          }
        }
      }
    }
    
    #row2{
      margin-left: 0px;
      .row2__left{
        h2{
          .number{
            font-size: 16px;
          }
          .name{
            font-size: 17px;
          }
          .arrow-right{
            margin-left: 78%;
          }
        }
      }
      .row2__right{
        h2{
          .number{
            font-size: 12px;
          }
          .name{
            font-size: 11px;
          }
          .arrow-right{
            margin-left: 89%;
          }
        }
      }
    }
  }
  
  #footer{
    .footer__right{
      width: 74%;
    }
  }
}

@media (max-width: 560px) {
  #main{
    h1{
      font-size: 45px;
    }

    #row1,
    #row2,
    #row3{
      .arrow-right{
        display: none;
      }
    }

    #row1{
      width: 100%;
      .row1__left{
        width: 45%;
        img{
          width: 100%;
          height: auto;
        }
        h2{
          .number{
            font-size: 15px;
          }
          .name{
            font-size: 15px;
          }
        }
      }
      .row1__right{
        width: 50%;
        img{
          height: auto;
        }
      }
    }

    #row2{
      width: 101%;
      margin-left: 1%;
    }

    #row3{
      width: 100%;
      .row3__left{
        width: 45%;
        img{
          width: 100%;
          height: auto;
        }
        h2{
          .number{
            font-size: 8px;
          }
          .name{
            font-size: 8px;
          }
        }
      }
      .row3__right{
        width: 50%;
        img{
          height: auto;
        }
      }
    }
  }

  #footer{
    .footer__right{
      width: 78%;
    }
  }
}

@media (max-width: 543px) {
  #main{
    #row2{
      width: 100%;
      margin-left: 0px;
      .row2__left{
        width: 45%;
      }
      .row2__right{
        width: 50%;
      }
    }
  }
}

@media (max-width: 513px) {
  #main{
    #row1{
      .row1__right{
        h2{
          width: 85%;
        }
      }
    }

    #bio{
      .bio__dates{
        width: 100%;
        img{
          width: 47%;
        }
        ul{
          width: 47%;
          .text{
            h4, span.number{
              font-size: 17px;
            }
          }
        }
      }
    }
  }

  #footer{
    .footer__left{
      font-size: 9px;
    }
    .footer__right{
      width: 72%;
      ul{
        li{
          span{
            font-size: 9px;
          }
        }
      }.arrow-up-border{
        width: 26px;
        height: 26px;
        .arrow-up{
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

@media (max-width: 483px) {
  #main{
    h1{
      font-size: 39px;
    }

    #row3{
      .row3__left{
        width: 200px;
        a{
          width: 200px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          span.name{
            width: 190px;
          }
        }
      }
    }
  }
  
  #footer{
    width: 98%;
    .footer__right{
      width: 75%;
      ul{
        width: auto;
      }
    }
  }
}

@media (max-width: 460px) {
  #main{
    h1{
      font-size: 37px;
    }
  }

  #footer{
    width: 100%;
    .footer__left{
      width: 90px;
    }
    .footer__right{
      width: 78%;
      ul{
        width: auto;
      }
    }
  }
}

@media (max-width: 425px) {
  #main{
    h1{
      font-size: 34px;
      margin-top: 45px;
    }
    
    #row3{
      width: 105%;
      .row3__left{
        width: 190px;
        img{
          width: 190px;
        }
        a{
          width: 190px;
          gap: 3px;
          .number{
            font-size: 9px;
          }
        }
      }
    }
    
    #bio{
      h3{
        font-size: 25px;
        line-height: 35px;
      }

      p{
        font-size: 15px;
        line-height: 20px;
        margin-top: 10px;
      }

      .bio__dates{
        margin-top: 0px;
        ul{
          li{
            margin-bottom: 20px;
            height: auto;
            .text{
              h4{
                font-size: 0.938rem;
              }
              h5{
                font-size: 0.625rem;
              }
            }
            span.number{
              font-size: 1.063rem;
            }
          }
        }
      }
    }
  }

  #footer{
    width: 100%;
    a.footer__left{
      width: 80px;
    }
    section.footer__right{
      width: 73%;
      ul{
        width: auto;
        li{
          padding: 0 5px;
        }
      }
    }
  }
}