@media (max-width: 375px) {
  #main{
    h1{
      font-size: 30px;
    }

    #row1,
    #row2,
    #row3{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .row__left,
      .row__right{
        width: 100%;
        margin-top: 0px;
        a{
          width: auto;
          justify-content: flex-start;
          margin-bottom: 0px;
          img{
            width: 100%;
          }
        }
        h2{
          margin-bottom: 0px;
        }
      }
    }
  }

  #footer{
    .arrow-up-border{
      display: none;
    }
  }
}