// 976px, 931px, 900px, 850px, 780px, 768px
@media (max-width: 976px) {
  #main{
    h1{
      font-size: 70px;
    }
  }
  
  #row1{
    width: 840px;
    .row1__left{
      width: 350px;
      img{
        width: 350px;
      }
    }
    .row1__right{
      width: 428px;
      img{
        width: 428px;
      }
    }
  }
  
  #row2{
    width: 850px;
    margin-left: 20px;
  }

  #row3{
    height: 500px;
    .row3__left{
      img{
        width: 350px;
      }
      h2{
        .number{
          font-size: 14px;
        }
        .name{
          font-size: 12px;
        }
        .arrow-right{
          margin-left: 65%;
        }
      }
    }
    .row3__right{
      width: 430px;
      img{
        width: 430px;
      }
    }
  }

  #bio{
    h3{
      font-size: 60px;
    }
    .bio__dates{
      img{
        width: 400px;
        height: 620px;
      }ul{
        width: 350px;
        padding-left: 30px;
        li{
          width: 350px;
        }
      }
    }
  }

  #footer{
    width: 90%;
    .footer__left{
      width: 146px;
    }
  }
}

@media (max-width: 931px) {
  #row1{
    width: 810px;
  }
  #row2{
    width: 825px;
  }
  #row3{
    width: 830px;
    .row3__left{
      width: 330px;
      img{
        width: 330px;
      }
    }
    .row3__right{
      width: 410px;
      img{
        width: 410px;
      }
    }
  }
}

@media (max-width: 900px) {
  #header{
    width: 93%;
    padding: 20px 3.5%;
  }

  #main{
    h1{
      width: 95%;
    }
  }

  #row1{
    width: 95%;
    .row1__right{
      width: 370px;
      img{
        width: 370px;
      }
    }
  }
  
  #row2{
    width: 95%;
    margin-left: 5%;
    .row2__right{
      width: 47%;
      img{
        width: 100%;
      }
      h2{
        width: 100%;
        .name{
          font-size: 16px;
        }
        .arrow-right{
          margin-left: 88%;
        }
      }
    }
  }

  #row3{
    width: 95%;
    margin-left: 5%;
    .row3__left{
      width: 348px;
      img{
        width: 100%;
        height: 240px;
      }
      h2{
        width: 100%;
        .arrow-right{
          margin-left: 82%;
        }
      }
    }
    .row3__right{
      width: 48%;
      img{
        width: 100%;
      }
      h2{
        width: 100%;
        .arrow-right{
          margin-left: 82%;
        }
      }
    }
  }
  

  #bio{
    h3{
      width: 90%;
      font-size: 50px;
    }p{
      width: 80%;
      font-size: 20px;
    }
  }

  #footer{
    width: 90%;
    .footer__left{
      width: 12%;
      font-size: 10px;
    }
    .footer__right{
      width: 83%;
      ul{
        width: 100%;
        li{
          padding: 0 5px;
          justify-content: center;
          a{
            width: 80%;
            justify-content: space-between;
          }          
        }
      }
    }
  }
}

@media (max-width: 850px) {
  #row1{
    width: 100%;
    .row1__right{
      width: 370px;
      img{
        width: 100%;
      }
    }
  }

  #row2{
    height: 550px;
  }

  #footer{
    width: 92%;
    .footer__right{
      width: 84.75%;
      ul{
        width: 93%;
      }
    }
  }
}

@media (max-width: 780px) {
  #footer{
    .footer__left{
      font-size: 11px;
    }
    .footer__right{
      width: 70%;
      ul{
        width: auto;
        display: flex;
        justify-content: space-between;
        li{
          width: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 10px;
          a{
            width: auto;
            .footer-arrow{
              display: none;
            }
          }
        }
      }.arrow-link{
        margin-left: 0;
        .arrow-up-border{
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .about{
    h2{
      width: 340px;
      font-size: 25px;
    }
    img{
      width: 347px;
    }
  }
  
  #main{
    h1{
      font-size: 60px;
    }
  }
  
  #row1{
    width: 95%;
    height: 350px;
    .row1__left{
      width: 300px;
      img{
        width: 100%;
      }
    }
    .row1__right{
      width: 260px;
      img{
        width: 100%;
        height: 240px;
      }
    }
  }

  #row2{
    width: 90%;
    height: 500px;
    margin-left: 10%;
    .row2__left{
      width: 270px;
      img{
        width: 100%;
      }
    }
    .row2__right{
      width: 300px;
      h2{
        .number{
          font-size: 16px;
        }
        .name{
          width: 100%;
          font-size: 14px;
        }
        .arrow-right{
          margin-left: 93%;
        }
      }
    }
  }

  #row3{
    width: 96%;
    height: 450px;
    .row3__left{
      width: 270px;
      img{
        width: 100%;
        height: 200px;
      }
      width: 300px;
      h2{
        .number{
          font-size: 14px;
        }
        .name{
          width: 200px;
          font-size: 11.5px;
        }
        .arrow-right{
          margin-left: 93%;
        }
      }
    }
    .row3__right{
      width: 300px;
      h2{
        .arrow-right{
          margin-left: 95%;
        }
      }
    }
  }
  
  #bio{
    h3{
      width: 100%;
      font-size: 40px;
      line-height: 45px;
    }
    .bio__dates{
      img{
        width: 300px;
        height: 470px;
      }
    }
  }

  #footer{
    .footer__left{
      width: 100px;
    }
    .footer__right{
      ul{
        li{
          padding: 0px 5px;
        }
      }
    }
  }
}